extends ../partials/_template

block content
  +header()
  .m-video.pos-abs(data-src="./assets/video/ecall.mp4")
  .flip-book.js-flip-book
    section.bg-ghost-blue
      img.l-w--100p(src=paths.img + 'v2/s1.jpg')
    section.bg-ghost-blue#p2
      img.l-w--100p.l-center(src=paths.img + 'v2/s2.jpg') 
      ul.l-w--70p.l-center
        li
        li
        li
        li
        li
        li
        li
        li
        li
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s3.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s4.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s5.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s6.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s7.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s8.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s9.jpg')
    section.bg-silver-grey
      img.l-w--100p.l-center(src=paths.img + 'v2/s10.jpg')
    section.bg-black
      img.l-w--100p.l-center(src=paths.img + 'v2/s11.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s12.jpg')
    section.bg-black#p20
      .l-center
        img.l-w--100p(src=paths.img + 's20.jpg')
        img.l-w--100p.pos-abs.flip-s20-anim-l(src=paths.img + 's20-1.png')
        img.l-w--100p.pos-abs.flip-s20-anim-r(src=paths.img + 's20-2.png')
        img.l-w--100p.pos-abs.flip-s20-anim-t(src=paths.img + 's20-3.png')
        img.l-w--100p.pos-abs.flip-s20-anim-b(src=paths.img + 's20-4.png')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s14.jpg')
    section.bg-lily-white
      .l-center-60
        img.l-w--100p(src=paths.img + 's22-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 's22-bottom.jpg')
          img.js-m-video.bw-video.bw-video__btn--1.pos-abs(src=paths.img + 'play-btn.png' data-src='./assets/video/safe.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--2(src=paths.img + 'play-btn.png' data-src='./assets/video/0.12.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--3(src=paths.img + 'play-btn.png' data-src='./assets/video/ecall.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频，探索更多精彩
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s16.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s17.jpg')
    //- s18 image
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s18.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s19.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s20.jpg')
    section.bg-lily-white#p23
      .l-center-60
        img.l-w--100p(src=paths.img + 's23-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 's23-bottom.jpg')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--4(src=paths.img + 'play-btn.png' data-src='./assets/video/1000.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--5(src=paths.img + 'play-btn.png' data-src='./assets/video/79.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--6(src=paths.img + 'play-btn.png' data-src='./assets/video/0.02.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频，探索更多精彩
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s22.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s23.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s24.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s25.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s26.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s27.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s28.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s29.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s30.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s31.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s32.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s33.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s34.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s35.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s36.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's24.jpg')
      img.pos-abs.flip-book-anim-24-1.l-w--100p(src=paths.img + 's24-1.png')
      img.pos-abs.flip-book-anim-24-2.l-w--100p(src=paths.img + 's24-2.png')
      img.pos-abs.flip-book-anim-24-3.l-w--100p(src=paths.img + 's24-3.png')
      img.pos-abs.flip-book-anim-24-4.l-w--100p(src=paths.img + 's24-4.png')
      img.pos-abs.flip-book-anim-24-5.l-w--100p(src=paths.img + 's24-5.png')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s38.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s39.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s40.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s41.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s42.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s43.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s44.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s45.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s46.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s47.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s48.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s49.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s50.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s51.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s52.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s53.jpg')
  .flip-icon.js-flip-btn
