extends ../partials/_template

block content
  +header()
  section.bg-lily-white
      img.l-w--100p(src=paths.img + 's1.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's2.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's3.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's4.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's5.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's6.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's7.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's8.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's9.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's10.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's11.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's12.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's13.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's14.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's15.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's16.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's17.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's18.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's19.jpg')
  section.bg-lily-white
    img.l-w--100p(src=paths.img + 's20.jpg')
