extends ../partials/_template

block content
  +header()
  .m-video.pos-abs(data-src="./assets/video/ecall.mp4")
  .flip-book.js-flip-book
    section.bg-ghost-blue
      img.l-w--100p(src=paths.img + 'v2/s1.jpg')
    section.bg-black
      img.l-w--100p(src=paths.img + 'v2/s2.jpg')
    section.bg-ghost-blue.c-secret
      img.l-w--100p.l-top(src=paths.img + 'v2/s3.jpg') 
      ul.l-w--70p.l-center
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-9-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-8-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-7-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-6-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-5-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-4-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-3-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-2-long.jpg')
        li.fancybox.flip-fancybox(href=paths.img + 'v2/s3-1-long.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s4.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s5.jpg')
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s6.jpg')
        .l-w--80p.pos-abs.c-v2-s5-1.fancybox.flip-fancybox(href=paths.img + 'v2/s6-long-1.jpg')
          img.l-w--100p(src=paths.img + 'v2/s6-1.jpg')
        .l-w--80p.pos-abs.c-v2-s5-2.fancybox.flip-fancybox(href=paths.img + 'v2/s6-long-2.jpg')
          img.l-w--100p(src=paths.img + 'v2/s6-2.jpg')
        .l-w--80p.pos-abs.c-v2-s5-3.fancybox.flip-fancybox(href=paths.img + 'v2/s6-long-3.jpg')
          img.l-w--100p(src=paths.img + 'v2/s6-3.jpg')
        img.c-v2-s5-4.l-w--80p.pos-abs.has-btn.js-m-video(src=paths.img + 'v2/s6-4.jpg' data-src='./assets/video/factory.mp4')
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s7.jpg')
        .l-w--80p.pos-abs.c-v2-s9.fancybox.flip-fancybox(href=paths.img + 'v2/s7-long.jpg')
          img.l-w--100p(src=paths.img + 'v2/s7-1.jpg')
    section.bg-black
      img.l-w--100p.l-top(src=paths.img + 'v2/s8.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s9.jpg')
    //- s10
    section.bg-black#p20
      .l-center
        img.l-w--100p(src=paths.img + 's20.jpg')
        img.l-w--100p.pos-abs.flip-s20-anim-l(src=paths.img + 's20-1.png')
        img.l-w--100p.pos-abs.flip-s20-anim-r(src=paths.img + 's20-2.png')
        img.l-w--100p.pos-abs.flip-s20-anim-t(src=paths.img + 's20-3.png')
        img.l-w--100p.pos-abs.flip-s20-anim-b(src=paths.img + 's20-4.png')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s11.jpg')
    //- s12
    section.bg-lily-white
      .c-v2-s16
        img.l-w--100p(src=paths.img + 's22-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 'v2/s12-bottom.jpg')
          .pos-abs.c-v2-s16-1.fancybox.flip-fancybox(href=paths.img + 'v2/s12-long-1.jpg')
            img.l-w--100p(src=paths.img + 'v2/s12-1.jpg')
          .pos-abs.c-v2-s16-2.fancybox.flip-fancybox(href=paths.img + 'v2/s12-long-2.jpg')
            img.l-w--100p(src=paths.img + 'v2/s12-2.jpg')
          .pos-abs.c-v2-s16-3.fancybox.flip-fancybox(href=paths.img + 'v2/s12-long-3.jpg')
            img.l-w--100p(src=paths.img + 'v2/s12-3.jpg')
          img.js-m-video.bw-video.bw-video__btn--1.pos-abs(src=paths.img + 'play-btn.png' data-src='./assets/video/safe.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--2(src=paths.img + 'play-btn.png' data-src='./assets/video/0.12.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--3(src=paths.img + 'play-btn.png' data-src='./assets/video/ecall.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频，探索更多精彩
    //- s13
    section.bg-lily-white#p23
      .c-v2-s22
        img.l-w--100p(src=paths.img + 's23-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 'v2/s12-bottom.jpg')
          .pos-abs.c-v2-s22-1.fancybox.flip-fancybox(href=paths.img + 'v2/s13-long-1.jpg')
            img.l-w--100p(src=paths.img + 'v2/s13-1.jpg')
          .pos-abs.c-v2-s22-2.fancybox.flip-fancybox(href=paths.img + 'v2/s13-long-2.jpg')
            img.l-w--100p(src=paths.img + 'v2/s13-2.jpg')
          .pos-abs.c-v2-s22-3.fancybox.flip-fancybox(href=paths.img + 'v2/s13-long-1.jpg')
            img.l-w--100p(src=paths.img + 'v2/s13-3.jpg')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--4(src=paths.img + 'play-btn.png' data-src='./assets/video/1000.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--5(src=paths.img + 'play-btn.png' data-src='./assets/video/79.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--6(src=paths.img + 'play-btn.png' data-src='./assets/video/0.02.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频，探索更多精彩
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s14.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s15.jpg')
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s16.jpg')
        .c-v2-s29.pos-abs.fancybox.flip-fancybox(href=paths.img + 'v2/s16-long.jpg')
          img.l-w--100p(src=paths.img + 'v2/s16-1.png')
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s17.jpg')
        .c-v2-s33.pos-abs.fancybox.flip-fancybox(href=paths.img + 'v2/s17-long.jpg')
          img.l-w--100p(src="./assets/img/v2/s16-1.png")
    section.bg-black
      img.l-w--100p.l-top(src=paths.img + 'v2/s18.jpg')

    section.bg-lily-white
      img.pos-rel.flip-book-anim-24-1.l-w--100p.c-v2-s38-1.is-btn.js-has-link(src=paths.img + 'v2/s19-1.jpg', data-url="20")
      img.pos-rel.flip-book-anim-24-2.l-w--100p.c-v2-s38-2.is-btn.js-has-link(src=paths.img + 'v2/s19-2.jpg', data-url="24")
      img.l-w--100p.pos-rel.c-v2-s38-0(src=paths.img + 'v2/s19-3.jpg')
      img.pos-rel.flip-book-anim-24-3.l-w--100p.c-v2-s38-3.is-btn.js-has-link(src=paths.img + 'v2/s19-4.jpg', data-url="26")
      img.pos-rel.flip-book-anim-24-4.l-w--100p.c-v2-s38-4.is-btn.js-has-link(src=paths.img + 'v2/s19-5.jpg', data-url="22")
      img.pos-rel.flip-book-anim-24-5.l-w--100p.c-v2-s38-5.is-btn.js-has-link(src=paths.img + 'v2/s19-6.jpg', data-url="27")

    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s20.jpg')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s21.jpg')
        img.c-v2-s40.pos-abs.has-btn.js-m-video(src=paths.img + 'v2/s21-1.jpg' data-src='./assets/video/bx5.mp4')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s22.jpg')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s23.jpg')
        img.c-v2-s42.pos-abs.has-btn.js-m-video(src=paths.img + 'v2/s23-1.jpg' data-src='./assets/video/bx6.mp4')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s24.jpg')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s25.jpg')
        img.c-v2-s44.pos-abs.has-btn.js-m-video(src=paths.img + 'v2/s25-1.jpg' data-src='./assets/video/bx7.mp4')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s26.jpg')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s27.jpg')
      .c-v2-return-btn.is-btn.js-has-link(data-url="19")
    //- s28
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s28.jpg')
    section.bg-ghost-blue
      img.l-w--100p.l-top(src=paths.img + 'v2/s29.jpg')
    section.bg-black
      img.l-w--100p.l-top(src=paths.img + 'v2/s30.jpg')

    //- 动力 - s31
    section.bg-ghost-blue
      //- img.l-w--100p.l-center(src=paths.img + 'v2/s31.jpg')
      .l-w--100p.pos-rel.c-v2-s50-top
        img.l-w--100p(src=paths.img + 'v2/s31-top.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c4y0tn3e64w3jd1j74wg0000.html?st=2&piap=0|3913|0|0|1|0|0|0|0|0|1", target="_blank")
          img.c-v2-s50-1.pos-abs(src=paths.img + 'v2/s31-1.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01cee87nk668r38csr70v00000.html?st=21&piap=1|31294|0|0|1|0|5|0|0|0|1", target="_blank")
          img.c-v2-s50-2.pos-abs(src=paths.img + 'v2/s31-2.jpg')
      .l-w--100p.pos-rel.c-v2-s50-middle
        img.l-w--100p(src=paths.img + 'v2/s31-middle.jpg')
        a(href="http://news.bitauto.com/hao/wenzhang/832953", target="_blank")
          img.c-v2-s50-3.pos-abs(src=paths.img + 'v2/s31-3.jpg')
        a(href="http://auto.ifeng.com/shijia/20180621/1195993.shtml", target="_blank")
          img.c-v2-s50-4.pos-abs(src=paths.img + 'v2/s31-4.jpg')
      .l-w--80p.pos-rel.c-v2-s50-bottom
        img.l-w--100p(src=paths.img + 'v2/s31-bottom.jpg')
        img.c-v2-s50-5.pos-abs.is-btn.js-has-link(src=paths.img + 'v2/s31-5.jpg', data-url="35")
        a(href="https://k.autohome.com.cn/compareseries/3913/#pvareaid=101434", target="_blank")
          img.c-v2-s50-6.pos-abs(src=paths.img + 'v2/s31-6.jpg')

    //- 空间 - s32
    section.bg-ghost-blue
      //- img.l-w--100p.l-center(src=paths.img + 'v2/s32.jpg')
      .l-w--100p.pos-rel.c-v2-s50-top
        img.l-w--100p(src=paths.img + 'v2/s32-top.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c4ymrday64w3jd1q6gsg0000.html?st=1&piap=0|3913|0|0|1|0|4|0|0|0|1", target="_blank")
          img.c-v2-s50-1.pos-abs(src=paths.img + 'v2/s32-1.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c4y0tn3e64w3jd1j74wg0000.html?st=2&piap=0|3913|0|0|1|0|4|0|0|0|1", target="_blank")
          img.c-v2-s50-2.pos-abs(src=paths.img + 'v2/s32-2.jpg')
      .l-w--100p.pos-rel.c-v2-s50-middle
        img.l-w--100p(src=paths.img + 'v2/s31-middle.jpg')
        a(href="http://news.bitauto.com/hao/wenzhang/811635",  target="_blank")
          img.c-v2-s50-3.pos-abs(src=paths.img + 'v2/s32-3.jpg')
        a(href="http://news.cheshi.com/dujia/20180626/2847936.shtml", target="_blank")
          img.c-v2-s50-4.pos-abs(src=paths.img + 'v2/s32-4.jpg')
      .l-w--80p.pos-rel.c-v2-s50-bottom
        img.l-w--100p(src=paths.img + 'v2/s31-bottom.jpg')
        img.c-v2-s50-5.pos-abs.is-btn.js-has-link(src=paths.img + 'v2/s31-5.jpg', data-url="35")
        a(href="https://k.autohome.com.cn/compareseries/3913/#pvareaid=101434", target="_blank")
          img.c-v2-s50-6.pos-abs(src=paths.img + 'v2/s31-6.jpg')

    //- 造型 - s33
    section.bg-ghost-blue
      //- img.l-w--100p.l-center(src=paths.img + 'v2/s33.jpg')
      .l-w--100p.pos-rel.c-v2-s50-top
        img.l-w--100p(src=paths.img + 'v2/s33-top.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c55x5g5b64w3je9k6wrg0000.html?st=8&piap=1|31294|0|0|1|0|1|0|0|0|1", target="_blank")
          img.c-v2-s50-1.pos-abs(src=paths.img + 'v2/s33-1.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c1aqxkj064w38chs64wg0000.html?st=44&piap=1|31294|0|0|1|0|1|0|0|0|1", target="_blank")
          img.c-v2-s50-2.pos-abs(src=paths.img + 'v2/s33-2.jpg')
      .l-w--100p.pos-rel.c-v2-s50-middle
        img.l-w--100p(src=paths.img + 'v2/s31-middle.jpg')
        a(href="https://www.autohome.com.cn/news/201712/911073.html", target="_blank")
          img.c-v2-s50-3.pos-abs(src=paths.img + 'v2/s33-3.jpg')
        a(href="http://www.maiche.com/news/detail/1409612.html", target="_blank")
          img.c-v2-s50-4.pos-abs(src=paths.img + 'v2/s33-4.jpg')
      .l-w--80p.pos-rel.c-v2-s50-bottom
        img.l-w--100p(src=paths.img + 'v2/s31-bottom.jpg')
        img.c-v2-s50-5.pos-abs.is-btn.js-has-link(src=paths.img + 'v2/s31-5.jpg', data-url="35")
        a(href="https://k.autohome.com.cn/compareseries/3913/#pvareaid=101434", target="_blank")
          img.c-v2-s50-6.pos-abs(src=paths.img + 'v2/s31-6.jpg')

    //- 舒适性 - s34
    section.bg-ghost-blue
      //- img.l-w--100p.l-center(src=paths.img + 'v2/s34.jpg')
      .l-w--100p.pos-rel.c-v2-s50-top
        img.l-w--100p(src=paths.img + 'v2/s34-top.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01cf1gxnqp68r3ad1s68s00000.html?st=76&piap=1|31294|0|0|1|0|3|0|0|0|1", target="_blank")
          img.c-v2-s50-1.pos-abs(src=paths.img + 'v2/s34-1.jpg')
        a(href="https://k.autohome.com.cn/detail/view_01c4ymrday64w3jd1q6gsg0000.html?st=1&piap=0|3913|0|0|1|0|3|0|0|0|1", target="_blank")
          img.c-v2-s50-2.pos-abs(src=paths.img + 'v2/s34-2.jpg')
      .l-w--100p.pos-rel.c-v2-s50-middle
        img.l-w--100p(src=paths.img + 'v2/s31-middle.jpg')
        a(href="http://auto.ifeng.com/shijia/20180621/1195993.shtml", target="_blank")
          img.c-v2-s50-3.pos-abs(src=paths.img + 'v2/s34-3.jpg')
        a(href="http://auto.ifeng.com/shijia/20180621/1195993.shtml", target="_blank")
          img.c-v2-s50-4.pos-abs(src=paths.img + 'v2/s34-4.jpg')
      .l-w--80p.pos-rel.c-v2-s50-bottom
        img.l-w--100p(src=paths.img + 'v2/s31-bottom.jpg')
        img.c-v2-s50-5.pos-abs.is-btn.js-has-link(src=paths.img + 'v2/s31-5.jpg', data-url="35")
        a(href="https://chejiahao.autohome.com.cn/info/2522482", target="_blank")
          img.c-v2-s50-6.pos-abs(src=paths.img + 'v2/s31-6.jpg')
    //- 更多媒体 s35
    section.bg-ghost-blue
      .l-w--100p.l-top
        img.l-w--100p(src=paths.img + 'v2/s35.jpg')
      .c-v2-s51.pos-abs.js-tab-content
        a.c-v2-s51-1(href="http://news.bitauto.com/hao/wenzhang/832953", target="_blank", data-tab="1")
          img.l-w--100p(src=paths.img + 'v2/s35-1.jpg')
        a.c-v2-s51-2(href="http://auto.ifeng.com/shijia/20180621/1195993.shtml", target="_blank", data-tab="1")
          img.l-w--100p(src=paths.img + 'v2/s35-2.jpg')
        a.c-v2-s51-3(href="https://chejiahao.autohome.com.cn/info/2522482", target="_blank", data-tab="1")
          img.l-w--100p(src=paths.img + 'v2/s35-3.jpg')
        a.c-v2-s51-4(href="http://news.cheshi.com/dujia/20180626/2847936.shtml", target="_blank", data-tab="2")
          img.l-w--100p(src=paths.img + 'v2/s35-4.jpg')
        a.c-v2-s51-5(href="https://www.autohome.com.cn/news/201712/911073.html", target="_blank", data-tab="2")
          img.l-w--100p(src=paths.img + 'v2/s35-5.jpg')
        a.c-v2-s51-6(href="http://www.maiche.com/news/detail/1409612.html", target="_blank", data-tab="2")
          img.l-w--100p(src=paths.img + 'v2/s35-6.jpg')
        a.c-v2-s51-7(href="http://auto.ifeng.com/shijia/20180621/1195993.shtml", target="_blank", data-tab="3")
          img.l-w--100p(src=paths.img + 'v2/s35-7.jpg')
        a.c-v2-s51-8(href="https://chejiahao.autohome.com.cn/info/2522482", target="_blank", data-tab="3")
          img.l-w--100p(src=paths.img + 'v2/s35-8.jpg')
        a.c-v2-s51-9(href="http://drive.xcar.com.cn/201806/news_2012267_1.html", target="_blank", data-tab="3")
          img.l-w--100p(src=paths.img + 'v2/s35-9.jpg')
      ul.c-v2-tab
        li.c-v2-tab-control.active.js-tab-control(tab-index="1") 1
        li.c-v2-tab-control.js-tab-control(tab-index="2") 2
        li.c-v2-tab-control.js-tab-control(tab-index="3") 3
      .c-v2-return-btn.is-btn.js-has-link(data-url="31")
    section.bg-ghost-blue
      img.l-w--100p.l-center(src=paths.img + 'v2/s36.jpg')
  .flip-icon.js-flip-btn

