extends ../partials/_template

block content
  +header()
  .m-video.pos-abs(data-src="./assets/video/ecall.mp4")
  .flip-book.js-flip-book
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's1.jpg')    
    section.bg-black#p2
      .l-center
        img.l-w--100p(src=paths.img + 's-menu.jpg')
        img.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
        img.flip-book-category-last-item.flip-book-category-anim-1.pos-abs(src=paths.img + 'x-force-text-1.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's3.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's4.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's5.jpg')
    section.bg-lily-white#p6
      img.l-w--100p.l-center(src=paths.img + 's6.jpg')
      div.flip-path
        div.flip-ball-anim-1.flip-ball
          img.l-w--100p(src=paths.img + 's6-ball-2.png')
        div.flip-ball-anim-2.flip-ball
          img.l-w--100p(src=paths.img + 's6-ball-2.png')
    section.bg-lily-white#p7
      .l-center
        img.l-w--100p(src=paths.img + 's7.jpg')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--1(src=paths.img + 's7-1.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--2(src=paths.img + 's7-2.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--3(src=paths.img + 's7-3.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--4(src=paths.img + 's7-4.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--5(src=paths.img + 's7-5.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--6(src=paths.img + 's7-6.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--7(src=paths.img + 's7-7.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--8(src=paths.img + 's7-8.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--9(src=paths.img + 's7-9.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--10(src=paths.img + 's7-10.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--11(src=paths.img + 's7-11.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--12(src=paths.img + 's7-12.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--13(src=paths.img + 's7-13.png')
        //- img.l-w--100p.pos-abs.flip-s7-anim.flip-s7-anim--14(src=paths.img + 's7-14.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's8.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's9.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's10.jpg')
    section.bg-lily-white
      a.fancybox.flip-fancybox(href=paths.img + 'bw-system.jpg')
        img.l-w--100p.l-center(src=paths.img + 's11.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's12.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's13.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's14.jpg')
    section.bg-black#p15
      .l-center
        img.l-w--100p.pos-abs(src=paths.img + 's-menu.jpg')
        img.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
        img.flip-book-category-anim.l-w--100p(src=paths.img + 's-menu-text-1.png')
        img.flip-book-category-last-item.flip-book-category-anim-1.pos-abs(src=paths.img + 'x-force-text-2.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's16.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's17.jpg')
    section.bg-lily-white
      .l-center
        img.l-w--100p(src=paths.img + 's18.jpg')
        img.pos-abs.l-w--100p.flip-s18-anim.flip-s18-anim--1(src=paths.img + 's18-1.png')
        img.pos-abs.l-w--100p.flip-s18-anim.flip-s18-anim--2(src=paths.img + 's18-2.png')
        img.pos-abs.l-w--100p.flip-s18-anim.flip-s18-anim--3(src=paths.img + 's18-3.png')
        img.pos-abs.l-w--100p.flip-s18-anim.flip-s18-anim--4(src=paths.img + 's18-4.png')
        img.pos-abs.l-w--100p.flip-s18-anim.flip-s18-anim--5(src=paths.img + 's18-5.png')
    section.bg-black#p19
      .l-center
        img.l-w--100p(src=paths.img + 's-menu.jpg')
        img.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
        img.flip-book-category-last-item.flip-book-category-anim-1.pos-abs(src=paths.img + 'x-force-text-3.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-black#p20
      .l-center
        img.l-w--100p(src=paths.img + 's20.jpg')
        img.l-w--100p.pos-abs.flip-s20-anim-l(src=paths.img + 's20-1.png')
        img.l-w--100p.pos-abs.flip-s20-anim-r(src=paths.img + 's20-2.png')
        img.l-w--100p.pos-abs.flip-s20-anim-t(src=paths.img + 's20-3.png')
        img.l-w--100p.pos-abs.flip-s20-anim-b(src=paths.img + 's20-4.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's21.jpg')
    section.bg-lily-white
      .l-center-60
        img.l-w--100p(src=paths.img + 's22-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 's22-bottom.jpg')
          img.js-m-video.bw-video.bw-video__btn--1.pos-abs(src=paths.img + 'play-btn.png' data-src='./assets/video/safe.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--2(src=paths.img + 'play-btn.png' data-src='./assets/video/0.12.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--3(src=paths.img + 'play-btn.png' data-src='./assets/video/ecall.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频
    section.bg-lily-white#p23
      .l-center-60
        img.l-w--100p(src=paths.img + 's23-top.jpg')
        .flip-video.pos-abs
          img.l-w--100p(src=paths.img + 's23-bottom.jpg')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--4(src=paths.img + 'play-btn.png' data-src='./assets/video/1000.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--5(src=paths.img + 'play-btn.png' data-src='./assets/video/79.mp4')
          img.js-m-video.bw-video.pos-abs.bw-video__btn--6(src=paths.img + 'play-btn.png' data-src='./assets/video/0.02.mp4')
          .video-note.pos-abs 提示：点击按钮播放视频
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's24.jpg')
      img.pos-abs.flip-book-anim-24-1.l-w--100p(src=paths.img + 's24-1.png')
      img.pos-abs.flip-book-anim-24-2.l-w--100p(src=paths.img + 's24-2.png')
      img.pos-abs.flip-book-anim-24-3.l-w--100p(src=paths.img + 's24-3.png')
      img.pos-abs.flip-book-anim-24-4.l-w--100p(src=paths.img + 's24-4.png')
      img.pos-abs.flip-book-anim-24-5.l-w--100p(src=paths.img + 's24-5.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's25.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's26.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's27.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's28.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's29.jpg')
    section.bg-black#p30
      .l-center
        img.l-w--100p(src=paths.img + 's-menu.jpg')
        img.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
        img.flip-book-category-last-item.flip-book-category-anim-1.pos-abs(src=paths.img + 'x-force-text-4.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      .l-center
        img.l-w--100p(src=paths.img + 's31-bg.jpg')
        img.pos-abs.l-w--100p.flip-s31-anim-right(src=paths.img + 's31-line-1.png')
        img.pos-abs.l-w--100p.flip-s31-anim-left(src=paths.img + 's31-line-2.png')
        img.pos-abs.l-w--100p.flip-s31-anim-right(src=paths.img + 's31-line-3.png')
        img.pos-abs.l-w--100p.flip-s31-anim-left(src=paths.img + 's31-line-4.png')
        img.pos-abs.l-w--100p.flip-s31-anim-right(src=paths.img + 's31-line-5.png')
        img.pos-abs.l-w--100p.flip-s31-anim-left(src=paths.img + 's31-c-1.png')
        img.pos-abs.l-w--100p.flip-s31-anim-right(src=paths.img + 's31-c-2.png')
        img.pos-abs.l-w--100p.flip-s31-anim-left(src=paths.img + 's31-c-3.png')
        img.pos-abs.l-w--100p.flip-s31-anim-right(src=paths.img + 's31-c-4.png')
        img.pos-abs.l-w--100p.flip-s31-anim-left(src=paths.img + 's31-c-5.png')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's32.jpg')
    section.bg-black#p33
      .l-center
        img.l-w--100p(src=paths.img + 's-menu.jpg')
        img.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
        img.flip-book-category-anim.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
        img.flip-book-category-last-item.flip-book-category-anim-1.pos-abs(src=paths.img + 'x-force-text-5.png')
    section.bg-grey
      img.l-w--100p.l-center(src=paths.img + 's34.jpg')
    section.bg-grey
      img.l-w--100p.l-center(src=paths.img + 's35.jpg')
    section.bg-grey
      img.l-w--100p.l-center(src=paths.img + 's36.jpg')
    section.bg-lily-white
      img.l-w--100p.l-center(src=paths.img + 's37.jpg')
    section.bg-lily-white
      a.fancybox.flip-fancybox(href=paths.img + 'bw-system.jpg')
        img.l-w--100p.l-center(src=paths.img + 's38.jpg')
  .flip-icon.js-flip-btn
