extends ../partials/_template

block content
  +header()
  .flip-book.js-flip-book
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's1.jpg')    
    section.bg-lily-white#p2
      .flip-cover.bg-lily-white
      img.flip-book-category-anim-1.l-w--100p(src=paths.img + 's-menu.jpg')
      img.flip-book-category-anim-1.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
      img.flip-book-category-last-item.flip-book-category-anim-6.pos-abs(src=paths.img + 'x-force-text-1.png')
      img.flip-book-category-anim-2.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
      img.flip-book-category-anim-3.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
      img.flip-book-category-anim-4.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
      img.flip-book-category-anim-5.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's3.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's4.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's5.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's6.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's7.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's8.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's9.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's10.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's11.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's12.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's13.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's14.jpg')
    section.bg-lily-white#p15
      .flip-cover.bg-lily-white
      img.flip-book-category-anim-1.l-w--100p(src=paths.img + 's-menu.jpg')
      img.flip-book-category-anim-1.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
      img.flip-book-category-anim-2.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
      img.flip-book-category-last-item.flip-book-category-anim-6.pos-abs(src=paths.img + 'x-force-text-2.png')
      img.flip-book-category-anim-3.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
      img.flip-book-category-anim-4.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
      img.flip-book-category-anim-5.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's16.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's17.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's18.jpg')
    section.bg-lily-white#p19
      .flip-cover.bg-lily-white
      img.flip-book-category-anim-1.l-w--100p(src=paths.img + 's-menu.jpg')
      img.flip-book-category-anim-1.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
      img.flip-book-category-anim-2.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
      img.flip-book-category-anim-3.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
      img.flip-book-category-last-item.flip-book-category-anim-6.pos-abs(src=paths.img + 'x-force-text-3.png')
      img.flip-book-category-anim-4.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
      img.flip-book-category-anim-5.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's20.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's21.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's22.jpg')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s22-1-play.png')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s22-2-play.png')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s22-3-play.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's23.jpg')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s23-1-play.png')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s23-2-play.png')
      img.pos-abs.l-w--100p(src=paths.img + 'icon/icon-s23-3-play.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's24.jpg')
      img.pos-abs.l-w--100p(src=paths.img + 's24-top.png')
      img.pos-abs.l-w--100p(src=paths.img + 's24-bottom.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's25.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's26.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's27.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's28.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's29.jpg')
    section.bg-lily-white#p30
      .flip-cover.bg-lily-white
      img.flip-book-category-anim-1.l-w--100p(src=paths.img + 's-menu.jpg')
      img.flip-book-category-anim-1.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
      img.flip-book-category-anim-2.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
      img.flip-book-category-anim-3.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
      img.flip-book-category-anim-4.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
      img.flip-book-category-last-item.flip-book-category-anim-6.pos-abs(src=paths.img + 'x-force-text-4.png')
      img.flip-book-category-anim-5.pos-abs.l-w--100p(src=paths.img + 's-menu-text-5.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's31.jpg')
      img.pos-abs.l-w--100p(src=paths.img + 's31-left.png')
      img.pos-abs.l-w--100p(src=paths.img + 's31-right.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's32.jpg')
    section.bg-lily-white#p33
      .flip-cover.bg-lily-white
      img.flip-book-category-anim-1.l-w--100p(src=paths.img + 's-menu.jpg')
      img.flip-book-category-anim-1.pos-abs.l-w--100p(src=paths.img + 's-menu-x-force.png')
      img.flip-book-category-anim-2.pos-abs.l-w--100p(src=paths.img + 's-menu-text-1.png')
      img.flip-book-category-anim-3.pos-abs.l-w--100p(src=paths.img + 's-menu-text-2.png')
      img.flip-book-category-anim-4.pos-abs.l-w--100p(src=paths.img + 's-menu-text-3.png')
      img.flip-book-category-anim-5.pos-abs.l-w--100p(src=paths.img + 's-menu-text-4.png')
      img.flip-book-category-last-item.flip-book-category-anim-6.pos-abs(src=paths.img + 'x-force-text-5.png')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's34.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's35.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's36.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's37.jpg')
    section.bg-lily-white
      img.l-w--100p(src=paths.img + 's38.jpg')
  .flip-icon.js-flip-btn
