block script
    script(src=paths.js + 'vendor/jquery.fancybox.js')
    script(src=paths.js + 'vendor/turn.js')
    script(src=paths.js + 'vendor/video.js')
    script(src=paths.js + 'app.js')
    //- script(src=paths.js + 'wechat.js')

    
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(src=paths.js + 'wechatShare.js')